# app

# APP_HOST= if docker: 0.0.0.0 else 127.0.0.1
APP_HOST=
APP_PORT=
APP_DB_ENGINE=
PUBLIC_URL=http://
CORS_ALLOWED_ORIGINS=http://localhost:
ACCESS_TOKEN_LIFETIME_MINUTES=
REFRESH_TOKEN_TTL_MINUTES=1
JWT_SECRET=secret

# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=
# POSTGRES_HOST= if docker: db else localhost

# external
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587 # or 465
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
FRONTEND_URL=http://localhost:3000
